* {
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    max-width: 80%;
    object-fit: contain;
}

div {
    /* padding: 20px; */
}

div:nth-child(odd) {
    background-color: beige;
}

div:nth-child(even) {
    background-color: antiquewhite;
}